body {
    background-image: url('../Basic-Portfolio/assets/images/gravel/gravel.png');
 }

h1 {
    background-color: teal;
    color:white;
    width: 300px;
    position: relative;
    bottom: 50px;
}

img {
    padding: 10px;
}

.navbar {
    text-align: right;
}


h2 {
    position: relative;
    top: 5px;
    left: 40px;
    color:teal;

}


.container-collapse {
    background-color: gray;
    padding: 20px;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    bottom:0%;
    
}

/*Portfolio*/

h3 {
    background-color:#4aaaa5;
    position: absolute;
    top: 160px;
    color:white;
    padding: 10px;
    width: 280px;
    text-align: center;
}

/*Contact*/

.btn {
    background-color:#4aaaa5;
    color: white;
}


