body {
    background-image: url('../basic-portfolio/assets/images/gravel/gravel.png');
 }

h1 {
    background-color: teal;
    color:white;
    width: 300px;
    position: relative;
    bottom: 50px;
}

img {
    padding: 10px;
}

.navbar {
    text-align: right;
}


h2 {
    position: relative;
    top: 5px;
    left: 40px;
    color:teal;
}

.col-md-4 {
    position: relative;
    left: 150px;
}

.col-md-8{
    position: relative;
    right: 20px;
    top: 20px;
}

.container-collapse {
    background-color: gray;
    padding: 20px;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    bottom:0%;
    
}

